{% extends 'base.html' %}

{% block content %}
<h1>Edit Post</h1>

<form action="/posts/{{id}}/edit" method="post">
    <div>
        <label for="title">Title</label>
        <input type="text" name="title" id="title">
    </div>
    <div>
        <label for="content">Post Content</label>
        <input type="text" name="content" id="content">
    </div>
    {% if tags %}
    
    {% for tag in tags%}
    <div>
        <input type="checkbox" name="{{tag.name}}" id="{{tag.name}}">
        <label for="{{tag.name}}">{{tag.name}}</label>
    </div>
    {% endfor %}

    {% else %}
    <p>No tags are currently available</p>
    {% endif %}
    
    <a class="btn btn-secondary" href="/posts/{{id}}">Cancel</a>
    <button class="btn btn-primary" type="submit">Edit</button>
</form>
{% endblock %}